

@media all and (min-width: 800px) and (max-width: 1200px) {
	#cat{
	/*background-color:#f6546a; */
	display:block;
	width: 80px;
	height: auto; 
	margin-left: auto;
	margin-right: auto;
	}

	#myAwesomeToDoList{
	width:100%;
	margin-left:auto;
	margin-right:auto;
	padding:5px;
	height:auto;
	background-color:#ffaaa5;
}

#myAwesomeToDoList h1{
	font-family: Helvetica, sans-serif;
	text-align:center;
	color:#FFFFFF;
}
}

@media all  and (max-width: 800px) {
	#cat{
	/*background-color:#f6546a; */
	display:block;
	width: 60px;
	height: auto; 
	margin-left: auto;
	margin-right: auto;
	}

	#myAwesomeToDoList{
	width:100%;
	margin-left:auto;
	margin-right:auto;
	padding:5px;
	height:auto;
	background-color:#ffaaa5;
}

#myAwesomeToDoList h1{
	font-family: Helvetica, sans-serif;
	text-align:center;
	color:#FFFFFF;
}
}

@media all and (min-width: 1200px) {
	#cat{
	/*background-color:#f6546a; */
	display:block;
	width: 160px;
	height: auto; 
	margin-left: auto;
	margin-right: auto;
	}

	#myAwesomeToDoList{
	width:100%;
	margin-left:auto;
	margin-right:auto;
	padding:5px;
	height:auto;
	background-color:#ffaaa5;
}

#myAwesomeToDoList h1{
	font-family: Helvetica, sans-serif;
	text-align:center;
	color:#FFFFFF;
}
}



#cat{
	/*background-color:#f6546a; */
	/*display:block;
	width: 100px;
	height: auto; */
	
	margin-left: auto;
	margin-right: auto;

	animation-name: rotate;
	animation-duration: 2s;
	animation-iteration-count: infinite;  


}

@keyframes rotate{
	0%{
		transform: rotate(0deg);
		opacity: 1
	}

    20%{
    	transform: rotate(35deg);
		
	}

	50%{
		transform: rotate(0deg);
		

	}

	75%{
		transform: rotate(-35deg);
	}

	100%{
		transform: rotate(0deg);
	}

}

/*#foo4ter-info{
	background-color: #f6546a;
	color: #00ced1;
	width: 100%;
	height: 100px;
	font-size:1px; 

}*/

@media all and (max-device-width: 480px) and (orientation: portrait){
	#myAwesomeToDoList{
	width:100%;
	margin-left:auto;
	margin-right:auto;
	padding:1px;
	height:75px;
	background-color:#ffaaa5;
}
	#myAwesomeToDoList h1{
	font-family: Helvetica, sans-serif;
	text-align:center;
	font-size: 21px;
	color:#FFFFFF;
}

   #cat{
	/*background-color:#f6546a; */
	display:block;
	width: 270px;
	height: auto; 
	margin-left: auto;
	margin-right: auto;
	}


}




#button1{
    background-color: #ffaaa5;
    border-radius: 2px;
    color:white;
    padding: 10px 22px;
    text-align: center;
    text-decoration: none;
  /*  text-color:white;*/
    display: inline-block;
    font-size: 16px;
    font-family: Helvetica, sans-serif;
   opacity: 0.6;
    cursor: not-allowed;

}

/*.button:disabled {
    opacity: 0.6;
    cursor: not-allowed;
}
*/



#button2{
    background-color: #ffaaa5;
    border-radius: 2px;
    color: white;
    padding: 10px 22px;
    text-align: center;
    text-decoration: none;
  /*  text-color:white;*/
    display: inline-block;
    font-size: 16px;
    font-family: Helvetica, sans-serif;
     -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}




#button2:hover{
	 background-color:#ff8b94; 
    color: white;
}

#button3{
    background-color:#ffaaa5;
    border-radius: 2px;
    color: white;
    padding: 10px 22px;
    text-align: center;
    text-decoration: none;
  /*  text-color:white;*/
    display: inline-block;
    font-size: 16px;
    font-family: Helvetica, sans-serif;
     -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}




#button3:hover{
	 background-color: #ff8b94; 
    color: white;
}




#button4{
    background-color: #ffaaa5;
    border-radius: 2px;
    color: white;
    padding: 10px 22px;
    text-align: center;
    text-decoration: none;
  /*  text-color:white;*/
    display: inline-block;
    font-size: 16px;
    font-family: Helvetica, sans-serif;
     -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}




#button4:hover{
	 background-color: #ff8b94; 
    color: white;
}

#block{
	color:coral;
	width:300px;
	height:200px;
}

#clickfunction{
	color:pink;
	width:100px;
	height:100px;
}

.xxx {
	margin-top: 12vh;
}

#footer_info{
	text-align: center;
	padding-bottom: 30px;
	background-color:#ffaaa5;
	color: #00ced1;
	width: 100%;
	height: 50px;
	font-size:12px; 
	line-height: 5pt;
	position: fixed;
	bottom:0px;
	font-family: Helvetica, sans-serif;
	text-align:center;
	
}

.intro{
	text-align: center;
}

